.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .menu {
    display: grid;
    grid-template-rows: 40px max-content;
    gap: 10px;
  }

  .toggle {
    all: unset;
    background-color: dodgerblue;
    color: white;
    width: 150px;
    padding: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  }

  a{
    text-decoration: none !important;
  }

  .toggle::after {
    content: "";
    width: 6px;
    height: 6px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    transform: rotate(45deg);
    transition: 0.4s;
  }

  .list {
    background-color: white;
    color: #444;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, 40px);
    border-radius: 5px;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
  }

  .list-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.4s;
    border-radius: 8px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
  }

  .list-item:hover {
    background-color: dodgerblue;
    color: #fff;
  }

  .toggle:focus::after {
    transform: rotate(225deg);
  }

  .toggle:focus~.list {
    height: 160px;
  }

  .toggle:focus~.list .list-item {
    transform: translateX(0);
  }